{%  extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

    <H1 class="display-6">Gears :</H1>

    {% if gears_list|length == 0 %}
        <p>Sorry, there is no gears to display yet !</p>
    {% endif %}
    <ul class="list-group list-group-flush">
        {% for gear in gears_list %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ gear.name }}</div>
                        {{ gear.description }}
                </div>
                <span class="badge bg-primary rounded-pill">{{ gear.purchase_date }}</span>
            </li>
        {%  endfor %}
    </ul>

    <hr>

    <H1 class="display-6">Add an equipment :</H1>

    <form action="" method="post" class="form" role="form">
            {{ create_gear_form.csrf_token() }}
        <d1>
            {{ wtf.form_field(create_gear_form.name, class='form-control', placeholder='Model, name, ...') }}
            {{ wtf.form_field(create_gear_form.description, class='form-control', placeholder='A brief description ...') }}
            {{ wtf.form_field(create_gear_form.purchase_date, class='form-control') }}
        </d1>
        <p><input type=submit class='btn btn-primary btn-sm btn-block'>
    </form>


{% endblock %}